body{
    background-color: lightgray;
}

.titulo{
    text-align: center;
    color: darkblue;
}

.biografia {
    font-size: 20px;
    line-height: 1.6;             
    text-align: justify;          
    font-family: Arial, sans-serif;
    margin: 20px auto;            
    max-width: 800px;
    padding: 10px;
    color: #2c2929;
}
 .botton{
    font-size: 20px;             
    text-align: justify;          
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: black;
    color: black;
    display: block;
    margin: 20px auto;
 }

 #mensagemBotao{
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: black;
 }

.hobies li{
    list-style-type: square;
    margin: 20px auto;
    max-width: 800px;
    margin-bottom: 20px;
}

.div1{
    max-width: 800px;
    margin: 20px auto;
}

.subtitulo{
    margin: 20px auto;
    max-width: 800px;
}

.imagem {
    display: block;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.tabela{
    border: 2px solid;
    width: 200px;
    border-style:solid;
    max-width: 800px;
    margin: 20px auto;
}

.link {
    display: block;
    text-align: center;
    color: darkblue;
    transition: color 0.3s;
  }

  .link:active {
    color: blue;
  }

  .link:visited {
    color: green;
  }

  .link:hover {
    color: red;
  }
